.brand-logo-container {
  display: flex;
  justify-content: center;
}
.nav-menu-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-menu-container nav ul {
  color: #ffff;
}
.logo-menu-container {
  display: flex;
  height: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background: #eb00d3;
}
.menu-items {
  display: flex;
  text-decoration: none;
}
.menu-items li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
.search-cart-container {
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 0;
}
.user-actions-bar {
  background: #000000;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.msg-discount-container {
  color: #ffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.user-actions-container {
  display: flex;
  height: 20px;
  align-items: center;
  color: #ffff;
  margin-left: auto;
}
.img-msg-container {
  display: flex;
  margin-left: 10px;
}
.nav-item {
  color: #ffff;
  text-decoration: none;
}
.menu-items li:hover .nav-item,
.menu-items li:active .nav-item {
  color: #000;
  text-decoration: underline;
}
.vertical-divider {
  border: 1px solid #fff;
  height: 100%;
  margin: 0 10px;
}
.brand-title {
  font-weight: 800;
  font-size: 40px;
  margin: .4em 0 0 0;
  color: #ffff;
}
.menu-search-cart-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.search-cart-container {
  margin-right: 2em;
  margin-bottom: 10px;
}
.menu-icon {
  width: 30px;
  height: 30px;
}
.menu-icon {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .user-actions-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .msg-discount-container {
    position: initial;
    left: initial;
    transform: initial;
  }
  .msg-discount-container p {
    margin: 5px 0 10px 0;
  }
  .user-actions-container {
    margin-left: 0;
  }
  .nav-menu-container {
    display: none;
  }
  .user-actions-bar {
    height: 80px;
  }
  .btn-menu-container {
    display: flex;
  }
}
